<!--  shared footer -->
  </article>
  <footer>
    <ul>
      <li><a href="#" title="About">About</a></li>
      <li><a href="#" title="Blog">Blog</a></li>
      <li><a href="#" title="Feedback">Feedback</a></li>
    </ul> 
  </footer>
</div>

