<meta name="viewport" content="width=device-width, minimumscale=
1.0, maximum-scale=1.0" />

<!--  shared header with top level navigation -->
<div id="content">
  <header>
    <img src="/img/RobWhiting.png" alt="logo" />
    <nav>
      <ul>
        <li><a href="/frontier/home" title="Frontier">Frontier</a></li>
        <li><a href="/h5c3/home" title="HTML5/CSS3">H5/C3</a></li>
        <li><a href="/javascript/home" title="JavaScript">JavaScript</a></li>
        <li><a href="/qa/home" title="QA">QA</a></li>
      </ul>
    </nav>
  </header>
  <article>