<!--  sub nav for javascript -->
    <nav>
      <ul>
        <li><a href="/javascript/home" title="Frontier Home">Home</a></li>
        <li><a href="/javascript/basics" title="Basic Concepts">Basics</a></li>
        <li><a href="/javascript/ajax" title="AJAX/JSON">AJAX/JSON</a></li>
        <li><a href="/javascript/webworkers" title="Web Workers">Web Workers</a></li>
        <li><a href="/javascript/websockets" title="Web Sockets">Web Sockets</a></li>
      </ul>
    </nav>
