<% page = { 'title' : 'PAGE_TITLE', 'key': 'QA_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','qa.css'], 'js' : ['qa/home.js'] } %>

<%- partial('partials/qa-nav') %>

  <p>Under Construction</p>
