<% page = { 'title' : 'PAGE_TITLE', 'key': 'JAVASCRIPT_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','javascript/webworkers.css'], 'js' : ['javascript/webworkers.js'] } %>

<%- partial('partials/javascript-nav') %>

  <p>Under Construction</p>
