<% page = { 'title' : 'H5/C3 Forms', 'key': 'H5C3_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','h5c3/form.css'], 'js' : ['h5c3/form.js'] } %>

<%- partial('partials/h5c3-nav') %>

  <p>Under Construction</p>



