<% page = { 'title' : 'H5/C3 Home', 'key': 'H5C3_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','h5c3/home.css'], 'js' : ['h5c3/home.js'] } %>

<%- partial('partials/h5c3-nav') %>

	<img src="/img/h5c3_badge.jpg" alt="H5/C3" />
	<section>
		<h3>HTML5 and CSS3 Skill Set</h3>
		<p>
			HTML and CSS, along with JavaScript, are the bread and butter of web development.  To be a successful web developer one must master the concepts and syntax of these technologies.  We have divided the achievement for this skill into the three guild levels, apprentice, journeyman, and master.  Earning the apprentice level means that you have accumulated knowledge regarding these important technologies.Earning the journeyman level means that you have the knowledge and skill necessary for day-to-day production work. Earning a master level means that you are acting as a mentor and teacher, and have demonstrated an advanced level of understanding thru study and projects.
		</p>
		<h4>You are expected to have a basic understanding of the following concepts:</h4>
		<p>
			Basic page structure, Doctypes – standards and quirks modes,  Syntax,  Elements – structural, head, list form image, etc., Micro-formats,  Attributes – core and event,  Colors, Mime types,  HTML Media, Semantic HTML.   Positioning, Floating,  Z-index,  Images,  Visibility,  Layouts – liquid, Responsive,  Menus,  Negative margins,  Browser work arounds.
		</p>
		<p>
			CSS syntax, Classes and IDs, Selectors, Pseudo selectors, Properties, Common units of measurement, Inline/embedded/external styles, Cascade, Inheritance, Specificity, Fonts, Text – variants, decoration, color, alignment, spacing, Line height and spacing, Box model, Margin and padding, Borders, Rounded corners, Background images and properties, Using multiple backgrounds, Color notation and values, Opacity, Drop shadows, and CSS gradients.   Text module,  Media queries,  Transitions, transforms and animations,  Attribute selector		
		</p>
		<h3>Apprentice Badge:</h3>
		<h5>Resources:</h5>
		<p>
			There are dozens of tutorials and refernces available on the web. Here are a few.
			<ul>
				<li>
					<a href="https://almtools.ldschurch.org/fhconfluence/download/attachments/7342502/semantic_HTML.pdf?version=1&modificationDate=1320269177083">Semantic HTML</a>
				</li>
				<li>
					<a href="http://blog.teamtreehouse.com/beginners-guide-to-responsive-web-design">Responsive Web Design</a>
				</li>
				<li><a href="http://learnlayout.com/">Basic Layout</a></li>
			</ul>
		</p>
		<h5>Tasks:</h5>
		<p>
			<ol>
				<li>
					Build a simple responsive page that responds to device size. It should include simple navigation and content.  Handle a typical desktop, tablet, and phone.  As the size changes, reconfigure navigation and rearrange content as needed. For the apprentice badge,  you may use a responsive framework like the one provided in bootstrap. For journeyman, you will need to hand code the responsiveness using media queries.
				</li>
				<li>
					Layout your page with multiple columns/regions to demonstrate that you know how to use styling for page layout.  You should have multiple regions aesthetically laid out and styled.  They should reasonable flow as size changes.  
				</li>
				<li>
					Demonstrate the proper use of Semantic HTML.  When you write code, your HTML markup should use the most appropriate tags, tag sequence, attributes and meta data for the document structure.
				</li>
			</ol>
		</p>
		<p>
			Note:  You are free to be creative and determine your own way to demonstrate the above tasks.  It would be great to talk over your plans with your manager!
		</p>

		<h3>Journeyman Badge:</h3>
		<h5>Resources:</h5>
		<p>
			There are dozens of tutorials and refernces available on the web. Here are a few.
			<ul>
				<li>
					<a href="http://www.hongkiat.com/blog/responsive-web-tutorials/">Responsive Design</a>
				</li>
				<li>
					<a href="https://developer.mozilla.org/en-US/docs/CSS">CSS - Mozilla</a>
				</li>
				<li>
					<a href="http://www.lynda.com/Web-Interactive-CSS-tutorials/CSS-Core-Concepts/80435-2.html">CSS Tutorial - Lynda.com</a>
				</li>
				<li>
					<a href="http://reference.sitepoint.com/css">CSS - Site Point</a>
				</li>
				<li>
					<a href="https://developer.mozilla.org/en-US/docs/CSS">CSS Tutorial - CSS-</a>
				</li>
				<li>
					<a href="https://developer.mozilla.org/en-US/docs/CSS/Getting_Started">CSS - Mozilla Getting Started</a>
				</li>
				<li>
					Book: CSS Mastery Andy Budd.  From our book club.
				</li>
			</ul>
		</p>
		<h5>Tasks:</h5>
		<p>
			<ol>
				<li>
					Build out the responsive page you created for the apprentice badge by adding more pages, improved navigation, and better styling.  You will need to use media queries rather than a framework such as the one found in bootstrap.
				</li>
				<li>
					Implement your navigation as a stylized list. Use event handling with minimal wiring.  The current page should be indicated in the list.  You should demonstrate that you can create this navigation by hand rather than use a ui component found in many libraries.
				</li>
				<li>
					Improve your responsive design to include scaling/loading images and more interesting content flow.  It is acceptable if some features are not available for smaller sizes. For a great example, see Notre Dame's responsive site at: nd.edu
				</li>
				<li>
					Add a form on one of your pages.  Use CSS to layout the labels and fields.  Use a text box, text area, check box, and a pick list. 
				</li>
				<li>
					Style your pages using CSS, stored in a separate file, using the minimum number of IDs and class attributes in your markup.  Use at least 4 kinds of selectors. Provide an example of using multiple backgrounds.  Include a custom font.   Use opacity, drop shadow, and CSS gradient.  Use a transition, transform or an animation.
				</li>
				<li>
					<a href="http://net.tutsplus.com/tutorials/html-css-techniques/25-html5-features-tips-and-techniques-you-must-know/">Use 8 of the 28 HTML5 features found here.</a>
				</li>
			</ol>
		</p>
		<p>
			Note:  You are free to be creative and determine your own way to demonstrate the above tasks.  It would be great to talk over your plans with your manager!
		</p>

		<h3>Master Badge:</h3>
		<p>
			The master's level consists of three achievements; acting as a mentor and teacher, advanced learning, and project work that furthers where possible our discipline.
		</p>
		<h5>Mentor/Teacher</h5>
		<p>
			Serve in the role of a mentor or teacher for a period of at least 6 months.
		</p>
		<h5>Study Plan</h5>
		<p>
			Create a study plan that outlines the advanced concept(s) that you wish to research.  Have your study plan approved by your manager or designee.  Complete your study and present your learning to a gathering of web developers.
		</p>
		<h5>Project Plan</h5>
		<p>
			Create a project plan that outlines what you wish to build, why it is important, and how it will benefit our discipline.  Have your project plan approved by your manager or designee.  Complete your project and present your learning to a gathering of web developers.
		</p>
	</section>










  
