<% page = { 'title' : 'Frontier: Async', 'key': 'FRONTIER_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','frontier/async.css'], 'js' : ['frontier/async.js'] } %>

<%- partial('partials/frontier-nav') %>

	<p>Under Construction</p>

