<% page = { 'title' : 'Frontier: Experiments', 'key': 'FRONTIER_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','frontier/experiments.css'], 'js' : ['frontier/experiments.js'] } %>

<%- partial('partials/frontier-nav') %>

	<p>Under Construction</p>

