<% page = { 'title' : 'Frontier: Home', 'key': 'FRONTIER_PAGE_NAME'} %>
<% assets = { 'css' : ['common.css','frontier/home.css'], 'js' : ['frontier/home.js'] } %>

<%- partial('partials/frontier-nav') %>

	<img src="/img/nodejs.png" alt="H5/C3" />
	<section>
		<h3>Frontier</h3>
		<p>
			The Frontier Development Platform is our foundation for building new products.  To be a successful web developer you must become a practitioner of these technologies.  We have divided the achievement for this skill into the three guild levels, apprentice, journeyman, and master.  Earning the apprentice level means that you have accumulated knowledge regarding these important technologies.  Earning the journeyman level means that you have the knowledge and skill necessary for day-to-day production work. Earning a master level means that you are acting as a mentor and teacher, and have demonstrated an advanced level of understanding thru study and projects.
		</p>
		<h4>You are expected to have a basic understanding of the following concepts:</h4>
		<p>
			NodeJS, Express framework, EJS pages, experiments, Strong i18n, Git, controls, Angular, and PAAS such as Heroku.
		</p>
		<h3>Apprentice Badge:</h3>
		<h5>Resources:</h5>
		<p>
			There are dozens of tutorials and refernces available on the web. Here are a few.
			<ul>
				<li>
					<a href="http://www.sbf5.com/~cduan/technical/git/">Understanding Git Conceptually</a>
				</li>
				<li>
					<a href="http://nodejs.org/">NodeJS.org</a>
				</li>
				<li>
					<a href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">How do I get started with Node.js</a>
				</li>
				<li>
					<a href="http://expressjs.com/">Express Framework</a>
				</li>
				<li>
					<a href="http://www.informit.com/articles/article.aspx?p=1858263">Introducing Express, The Web Framework for Node.js</a>
				</li>
				<li>
					<a href="http://embeddedjs.com/">EJS</a>
				</li>
				<li>
					<a href="http://git-scm.com/">Git</a>
				</li>
				<li>
					<a href="https://github.com/">GitHub</a>
				</li>
				<li>
					<a href="http://angularjs.org/">Angular.org</a>
				</li>
				<li>
					<a href=" http://www.youtube.com/watch?v=4EVBg1pNdtc&list=PL1w1q3fL4pmgqpzb-XhG7Clgi67d_OHXz ">Angular Presentations - YouTube</a>
				</li>
				<li>
					<a href="http://www.heroku.com/">Heroku.com</a>
				</li>
			</ul>
		</p>
		<h5>Demonstration:</h5>
		<p>
			You can demonstrate your knowledge by completing a number of tasks.  We encourage you to build a portfolio of your work as a way of demonstrating what your are learning and the skills you are developing. 
		</p>
		<h5>Tasks:</h5>
		<p>
			<ol>
				<li>
					Build a simple "Hello World" web app in the Frontier web stack.  <a href="https://almtools.ldschurch.org/fhconfluence/pages/viewpage.action?pageId=7340877">You will find guides here.</a>.
				</li>
				<li>
					Check the application into your own GitHub repository. A public account is free.  If your want your code to be private or if it contains code owned by familysearch, then you can create a respository under "fs-webdev" using your name (for example: tylerpeteron/skills).  
				</li>
				<li>
					Deploy your app outside of your local development environment.
				</li>
				<li>
					Enhance your application by adding content to your page and learn how to pass data to your EJS page.
				</li>
				<li>
					Add more pages.  Wire them to different routes and separate controllers.
				</li>
				<li>
					Learn how to configure a different header.
				</li>
				<li>
					Using Angular, create a simple list of items.  You should be able to view the list, add/edit/delete items. <a href="http://www.youtube.com/watch?v=4EVBg1pNdtc&list=PL1w1q3fL4pmgqpzb-XhG7Clgi67d_OHXz">You can find training videos here.</a> 
				</li>
			</ol>
		</p>
		<p>
			Note:  You are free to be creative and determine your own way to demonstrate the above tasks.  It would be great to talk over your plans with your manager!
		</p>

		<h3>Journeyman Badge:</h3>
		<h5>Resources:</h5>
		<p>
			There are dozens of tutorials and refernces available on the web. Here are a few.
			<ul>
				<li>
					<a href="https://almtools.ldschurch.org/fhconfluence/pages/viewpage.action?pageId=7340877">Frontier Framework</a>
				</li>
				<li>
					<a href="http://www.youtube.com/watch?v=4EVBg1pNdtc&list=PL1w1q3fL4pmgqpzb-XhG7Clgi67d_OHXz">AngularJS Videos</a>
				</li>
				<li>
					<a href="http://book.mixu.net/ch7.html">Async Programming - Mixu's Node book</a>
				</li>
				<li>
					<a href="http://www.youtube.com/watch?v=Yg-R1gchccg">AngularJS - Directive Tutorial Video</a>
				</li>
			</ul>
		</p>
		<h5>Tasks:</h5>
		<p>
			<ol>
				<li>
					Async Programming: Using the "full parallel" control flow pattern, make three simultaneous calls to an api service. <a href="http://book.mixu.net/ch7.html">Learn about flow control patterns.</a>
				</li>
				<li>
					Experiments: Create a feature and wrap it into an experiment.
				</li>
				<li>
					Localizations:  Localize your page(s) by creating a language specific file, moving your strings into it, and adding calls to your page that substitute in the localized strings. 
				</li>
				<li>
					Angular Directives: Build a simple directive for a new HTML tag called "the-time" that displays the current time; "The time is: xxxx". Use a separate template file. <a href="http://www.youtube.com/watch?v=Yg-R1gchccg">Here is an example.</a> Alternatively, suggest your own directive to implement with similar functionality.
				</li>
			</ol>
		</p>
		<p>
			Note:  You are free to be creative and determine your own way to demonstrate the above tasks.  It would be great to talk over your plans with your manager!
		</p>

		<h3>Master Badge:</h3>
		<p>
			The master's level consists of three achievements; acting as a mentor and teacher, advanced learning, and project work that furthers where possible our discipline.
		</p>
		<h5>Mentor/Teacher</h5>
		<p>
			Serve in the role of a mentor or teacher for a period of at least 6 months.
		</p>
		<h5>Study Plan</h5>
		<p>
			Create a study plan that outlines the advanced concept(s) that you wish to research.  Have your study plan approved by your manager or designee.  Complete your study and present your learning to a gathering of web developers.
		</p>
		<h5>Project Plan</h5>
		<p>
			Create a project plan that outlines what you wish to build, why it is important, and how it will benefit our discipline.  Have your project plan approved by your manager or designee.  Complete your project and present your learning to a gathering of web developers.
		</p>
	</section>










  

